<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Debug</title>
  <link rel="stylesheet" href="http://bootswatch.com/yeti/bootstrap.min.css">
  <link rel="stylesheet" href="https://google-code-prettify.googlecode.com/svn/trunk/src/prettify.css">
  <link rel="stylesheet" href="http://getbootstrap.com/assets/css/docs.min.css">
  <style type="text/css">
    #gitlog {
      max-height: 400px;
      overflow: scroll;
    }

    .pointable {
      cursor: pointer;
    }
  </style>
  <!-- Firebase -->
  <script src="https://cdn.firebase.com/js/client/1.0.11/firebase.js"></script>
  <!-- AngularJS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
  <!-- AngularFire Library -->
  <script src="https://cdn.firebase.com/libs/angularfire/0.7.1/angularfire.min.js"></script>
  <!-- prettify -->
  <script src="http://google-code-prettify.googlecode.com/svn/trunk/src/prettify.js" type="text/javascript" charset="utf-8"></script>

  <script>
  var debugApp = angular.module('debugApp', ['firebase']);

  function AlertsController($scope, $firebase, $location, $anchorScroll) {
    var makeOutRef = new Firebase('https://cs140-2014.firebaseio.com/make/out');
    var makeErrRef = new Firebase('https://cs140-2014.firebaseio.com/make/err');
    var testRef = new Firebase('https://cs140-2014.firebaseio.com/make_check/tests');
    var statsRef = new Firebase('https://cs140-2014.firebaseio.com/stats');

    $scope.makeSuccess = $firebase(makeOutRef);
    $scope.makeFail = $firebase(makeErrRef);
    $scope.tests = $firebase(testRef);

    $scope.stats = $firebase(statsRef);

    $scope.toSection = function (hash) {
      $location.hash(hash);
      $anchorScroll();
    };


  };
  </script>
</head>
<body ng-app="debugApp" ng-controller="AlertsController">


  
  

  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">

    <div class="page-header">
      <h1>Debug CS140</h1>
      <p>Run "node runalltests.js"</p>
      <p>Running on branch '{{ stats.branchName }}'</p>
      <p>Updated file '{{ stats.fileUpdated.filename }}' at {{ stats.fileUpdated.time | date:'mediumTime' }}</p>
      <button type="button" class="btn btn-primary" ng-click="showLog =! showLog">{{showLog ? 'Hide':'Show'}} .git Logs</button>
      <br>
      <br>
      <div ng-show="showLog">
        <div class="highlight" id="gitlog">
          <pre>
            <code class="git">
              <p ng-repeat="logline in stats.gitLog track by $index">{{logline}}</p>
            </code>
          </pre>
        </div>
      </div>
    </div>

    <input type="text" name="" value="" ng-model="query" placeholder="Query">

    <h5>passing: {{ stats.pass }}</h5>
    <h5>failing: {{ stats.fail }}</h5>
    <div class="row">
      <div class="col-xs-12">
        <span class="label" ng-class="{'label-danger':!test.passed,'label-success':(test.passed)}" style="float: left;" ng-repeat="(key,test) in tests | orderByPriority | filter:query"><span class="pointable" ng-bind="test.name" ng-click="toSection('test-'+key)"></span></span>
      </div>
    </div>
      
      <div class="row">
        <div class="col-md-3">
          <h3>Make</h3>
          <h5>out: {{ stats.makeOut }}</h5>
          <h5>err: {{ stats.makeErr }}</h5>
          <h5>last completed: {{ stats.makeTime | date:'mediumTime' }}</h5>

          <div class="alert alert-dismissable alert-danger" ng-repeat="alert in makeFail | orderByPriority | filter:query">
            {{ alert }}
          </div>

          <div class="alert alert-dismissable alert-success" ng-repeat="alert in makeSuccess | orderByPriority | filter:query">
            {{ alert }}
          </div>

        </div>

        <div class="col-md-9">
          <h3>Tests</h3>
          <h5>out: {{ stats.makeCheckOut }}</h5>
          <h5>err: {{ stats.makeCheckErr }}</h5>
          <h5>last completed: {{ stats.makeCheckTime | date:'mediumTime' }}</h5>

          <div class="alert alert-dismissable" ng-class="{'alert-danger':!test.passed,'alert-success':(test.passed)}" ng-repeat="(key, test) in tests | orderByPriority | filter:query" id="test-{{ key }}">
            <h3>{{ test.name }}</h3>
            <p ng-repeat="line in test.lines"> {{ line }} </p>
          </div>
        </div>

      </div>

    </div>
    <div class="col-md-1"></div>
  </div>
  



</body>
</html>